name: Altoro Mutual - DAST Web
on:
  pull_request:
    branches:
      - master
  workflow_dispatch:
jobs:
  dast:
    runs-on: ubuntu-latest
    name: Checkmarx DAST - web scan
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2
      - name: Create output folder
        run: mkdir ${{ github.workspace }}/output_folder
      - name: Change workspace owner
        run: sudo chown -R 1000:1000 ${{ github.workspace }}
      - name: Start DAST scan
        uses: Checkmarx/dast-github-action@v2.3.0
        env:
          CX_APIKEY: ${{ secrets.AST_API_KEY }}
        with:
          command: web
          # shallow scan to pass
          # config: ${{ github.workspace }}/dast-config/Altoro_Mutual-web-pass.yaml
          # deep scan to fail 
          config: ${{ github.workspace }}/dast-config/Altoro_Mutual-web-fail.yaml
          environment_id: 9dda76e9-d2d3-464c-a449-1855ebce337d
          fail_on: HIGH
          log_level: debug
          base_url: https://ast.checkmarx.net/
          verbose: true
          output: ${{ github.workspace }}/output_folder
      - name: Change output folder owner back to gh user
        run: sudo chown -R 1001:1001 ${{ github.workspace }}/output_folder
      - uses: actions/upload-artifact@v4.4.3
        name: Upload artifacts
        with:
          name: report
          path: ${{ github.workspace }}/output_folder

